body{

   background-color:powderblue ;
}

 hr{

   border-style:none;
   border-top-style: dotted;
   border-width: 5px;
   border-color:skyblue;
   width:5%;

 }
 h1{
   color:#98acf8;

 }
 h3{
   color:#f9f7cf;
 }
